API_ID=9469653 # get this value from my.telegram.org
API_HASH=de5a7ff61df4b3223426b6feb016c71a # get this value from my.telegram.org
BOT_TOKEN=6495505242:AAHfsKHcV4pISVhDJ9UQ0tw1_AIZjnSQZUU # get this value from @Botfather
MONGO_DB_URI=mongodb+srv://aung1501:thuyein001@cluster0.ncytmk1.mongodb.net/?retryWrites=true&w=majority # get this value from mongodb.com
LOG_GROUP_ID=1547029169 # get this value from in your log group 
MUSIC_BOT_NAME=｢𝑷𝒖𝒓𝒑𝒍𝒆 𝑷𝒍𝒂𝒏𝒆𝒕 𝑴𝒖𝒔𝒊𝒄 🔮」𝐭 # your music bot name 
STRING_SESSION=BQFEoW8AbwHdgJtvoPv4h42F0OWb2YAmHdMB0bdi4mxDYxM-HTAcdZooOoncccwRfmPZvR0dGZI3H9ePGfJvIzlTf2ioYhI1e0vwxJVfmvI0ylx8kuBJVJj1-sqXWmgmzkIU1pURFFnPOlklBntbz2v_t1zgyukKGwTNTIarMd3Ny5hFCsDvshtoVsCrQ3Gk-rQHxF0TgcKx03apVcm5Qk57nuynCZz3qmYaSNQZuOlJ0BeRNRZjGP8Dg2lFI_nonxsdWDb5xCLHEnaKF95QPt4sKa9wLeEW31_PDtJ6DCo4p9WEnqeDGWeuimI-hg9cHO2SIPmcVx0yQ_4xLViXBvYCN0rlYwAAAAF6X2woAA # get this value from @yukkistringbot
